<link rel="stylesheet" type="text/css" href="register/register.css">

<div id="register-controls-container" >
    <h2>Welcome to Faces!</h2>

    <div allign="center" id="new-user-information-container" >
    	<div id="register-partials-view">
        	<div ng-include src="current_partial" id="info" ng-hide="is_last_partial()" ng-disabled="is_last_partial()"/>
        	<div ng-include src="current_partial" id="about" ng-hide="is_first_partial()" ng-disabled="is_first_partial()"/>
    	</div>
        <div id="buttons-container" class="btn-group btn-group-justified" >
            <button ng-click="previous_partial()" ng-hide="is_first_partial()" ng-disabled="is_first_partial()" id="previous-button" class="faces-btn btn btn-default glyphicon glyphicon-chevron-left"></button>
            <button ng-click="next_partial()" ng-hide="is_last_partial()" ng-disabled="is_last_partial()" id="next-button" class="btn btn-default faces-btn glyphicon glyphicon-chevron-right"></button>
        </div>
        <button ng-click="registration_complete()" id="registration-complete-button" class="btn btn-default faces-btn">Finished</button>
    </div>
</div>
