<div id="register-controls-container" >
	<div id="new-user-information-container" >
		<div class="input-group">
		  <span class="input-group-addon">First Name</span>
		  <input type="text" class="form-control">
		</div>
		<div class="input-group">
		  <span class="input-group-addon">Last Name</span>
		  <input type="text" class="form-control">
		</div>
		<div class="input-group">
		  <span class="input-group-addon">Email Address</span>
		  <input type="email" class="form-control">
		</div>
		<div id="address-container">
			<input ng-model="new_user.address.street" placeholder="Street" class="form-control register-input">
			<input ng-model="new_user.address.street" placeholder="Street" class="form-control register-input">
		</div>
	</div>
</div>
