<link rel="stylesheet" type="text/css" href="search/search.css">

<div class="container-fluid faces-container">
	<div id="heading_div" class="row row-border" style="background-color: #434343;">
		<div class="search-section-border">
			<h2 id="search-heading">Search Results</h2>
		</div>
	</div>
	<div id="resultsDiv" class="row row-border" align="center">
		<h3>Users</h3>
	</div>
	<div class="row row-border" ng-repeat="user in users | filter: {FirstName: searchText}" ng-hide="isCurrentUser(user)">
		<div>
			<div class="col-lg-11"><h4 style="color: #333">{{user.FirstName}} {{user.LastName}}</h4> <h6>From {{user.City}}, {{user.State}}</h6></div>
		</div>
		<div class="col-lg-1">
			<button class="btn-sm faces-btn glyphicon glyphicon-plus"  ng-click="addFriend(user)" ng-hide="isFriend(user);" style="margin-top: 14px;"></button>
			<span class="glyphicon glyphicon-ok btn-sm btn-success" ng-show="isFriend(user)" style="margin-top: 14px;"></span>
		</div>
	</div>
	<div class="col-lg-4 col-lg-offset-4" style="text-align: center;" ng-show="{{(users|filter:searchText).length === 0}}"><em> No results found.</em></div>
</div>