<link rel="stylesheet" type="text/css" href="register/partials/styles/about.css">

<div class="about-me-container">
	<div class="form-group">
		<!--<div class="col-lg-10 col-md-7 col-sm-3">-->
			<span class="input-group-addon">Tell us something about you...</span>
			<textarea id="inputPostMessage" class="form-control" ng-model="user.about_me" type="text" placeholder="This area is a place for you to express yourself.  Hobbies, social activites, work, play, life, etc..." rows="10" maxlength="500"></textarea>
        	<div class="input-group input-group-first">

   				<div class="input-group-btn">
     				<span id="btnPost" type="button" class="btn btn-success" ng-class="{'btn-warning': user.about_me.length >= 400, 'btn-danger': user.about_me.length >= 500 }" disabled>{{ 500 - user.about_me.length }}</span>
   				</div>  				
   			</div> 			
   		<!--</div>-->
    </div> 
</div>


      
<!-- for developers, will lengthing the maxlength, keeping short for testing -->

	