<link rel="stylesheet" type="text/css" href="register/partials/styles/personal_info.css">

<div id="personal-information-conatiner" ng-controller="app">
    <form name="holderForm">
        <div class="input-group input-group-first">
            <span class="input-group-addon">First Name</span>
            <input type="text" name="first_name" class="form-control" 
            ng-model="user.first_name" ng-change="is_empty()">
            <span class="error" ng-show="$scope.empty" >
                <i class="glyphicon glyphicon-remove"/>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Last Name</span>
            <input type="text" class="form-control" ng-model="user.last_name" 
            name="last_name" required>
            <span type="error" ng-show="holderForm.user.last_name.$error.required">
                 <i class="glyphicon glyphicon-remove"/>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" name="email" 
            ng-model="user.email" required>
            <span type="error" ng-show="holderForm.user.email.$error.email">
                <i class="glyphicon glyphicon-remove"/>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Re-enter Email</span>
            <input type="email" class="form-control" ng-model="user.email_verification"
            name="email_verification" required>
            <span type="error" ng-show="holderForm.user.email_verification.$error.email">
                <i class="glyphicon glyphicon-remove"/>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" ng-model="user.password"
            name="password" required>
            <span type="error" ng-show="holderForm.user.password.$error.required">
                <i class="glyphicon glyphicon-remove"/>
            </span>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Re-enter Password</span>
            <input type="password" class="form-control" ng-model="user.password_verification"
            name="password_verification" required>
            <span type="error" ng-show="holderForm.user.password_verification.required">
                <i class="glyphicon glyphicon-remove"/>
            </span>
        </div>

        <div class="input-group input-group-last">
            <span class="input-group-addon">Birthdate</span>
            <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="user.date_of_birth" is-open="datepicker_opened" datepicker-options="date_options" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open_datepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </form>
</div>