<link rel="stylesheet" type="text/css" href="register/partials/styles/personal_info.css">

<div id="personal-information-conatiner">
    <div class="input-group input-group-first">
        <span class="input-group-addon">First Name</span>
        <input type="text" class="form-control" ng-model="user.first_name">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Last Name</span>
        <input type="text" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="email" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Re-enter Email</span>
        <input type="email" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Password</span>
        <input type="password" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Re-enter Password</span>
        <input type="password" class="form-control">
    </div>

    <div class="input-group input-group-last">
        <span class="input-group-addon">Birthdate</span>
        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="user.date_of_birth" is-open="datepicker_opened" datepicker-options="date_options" ng-required="true" close-text="Close"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_datepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
</div>