<link rel="stylesheet" type="text/css" href="me/me.css">
<div class="container-fluid faces-container">
    <div id="name_div" class="row row-border" style="background-color: #434343;">
            <h2 id="me-username-heading">{{friend.FirstName}} {{friend.LastName}}</h2>
    </div>

    <div id="info_div" class="row row-border">
        <img id="user_photo" class="col-xs-3 profile-picture-lg" ng-src="{{profilePicture}}">

        <div class="col-md-9">
            <h5>From: </h5><span ng-hide="fromEditOn">{{friend.City}}, {{friend.State}}</span>

            <h5>Phone: </h5><span ng-hide="phoneEditOn">{{friend.Phone}}</span>

            <h5>Birthday: </h5><span ng-hide="birthdayEditOn">{{friend.DateOfBirth}}</span>

            <h5>About: </h5><span ng-hide="aboutEditOn">{{friend.AboutMe}}</span>
        </div>
    </div>

    <div id="action_div" class="row row-border" style="margin-bottom: 10px; background-color: #434343;">
        <div class="me-button-container col-xs-6">
            <button class="btn btn-default faces-btn glyphicon glyphicon-align-left" title="New Post" ng-click="createNewPost()"></button>
        </div>
        <div class="me-button-container col-xs-6">
            <button class="btn btn-default faces-btn glyphicon glyphicon-picture" title="Post Photo" ng-click="postNewPicture()"></button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 no-pad-left">
            <div class="panel panel-default" ng-repeat="post in friend.Post | reverse" class="pad">
                <div class="panel-heading">{{post.PosterFirstName}} {{post.PosterLastName}} <span style="float: right;">{{post.PostTime | date:'M/d/yy h:mm'}}</span></div>
                <div class="panel-body">
                    <div style="margin-bottom: 7px;" class="border-left-lite">{{post.Message}}</div>
                    <div ng-repeat="comment in post.Comments" class="border-lite">
                        <h6>{{comment.UserFirstName}} {{comment.UserLastName}} <span style="float: right;">{{comment.CommentDatetime | date: 'M/d/yy h:mm'}}</span></h6>
                        <div style="padding-left: 8px;"><span>{{comment.CommentText}}</span></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form ng-submit="addComment(post)" novalidate>
                        <input type="text" class="form-control" placeholder="Comment" style="height: 28px;" ng-model="post.commentText">
                    </form>
                </div>
            </div>
        </div>

        <!-- Friends -->
        <div class="list-group col-xs-4 no-pad" style="border-radius: .5em; margin: 0px;">
            <span href="#" class="list-group-item active" style="background-color: #434343; border-color: #434343; border-radius: .5em; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;"> Friends
            </span>
            <div ng-repeat="friend in friend.Friends | orderBy: 'FirstName'" class="list-group-item">
                <button class="btn-sm faces-btn" ng-click="viewFriend(friend)"><span class="glyphicon glyphicon-user"></span>&nbsp;{{friend.FirstName}} {{friend.LastName}}</button>
                <h6>From:</h6> {{friend.City}}, {{friend.State}}
                <h6>Phone:</h6> {{friend.Phone}}
            </div>
        </div>
    </div>
</div>