#profile-picture-selection-container {
	position: absolute;
}

#register-image-container {
	height: 20em;
	width: 80%;
	max-width: 35em; 

	display: block;

	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;

	background-color: #F0F0F0;

	color: #A0A0A0;

	border-style: dashed;
	border-width: 3px;
	border-color: #A0A0A0;
	border-radius: 1em;

}

#register-profile-picture {

}

#profile-picture-placeholder {
	display: block;
	height: 50%;
}