.ng-enter, .ng-leave{
	position: relative;
}

#me-container {
	display: block;
	width: 95%;
	max-width: 60em;
}

#me-username-heading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.profile-picture-lg {
	border-style: solid;
	border-width: .15em;
	border-color: #1F2B50;
	border-radius: .4em;
	border-left: 1em;
	border-top: 1px;
	border-bottom-width: .01em;
	min-height: 7em;
	min-width: 10em;
	max-width: 20em;	
	max-height: 20em;	
}

#user_photo {

}

textarea{
	resize: none;
	overflow: auto;
}

#postBox.ng-leave{
	opacity: 1;
	height: 0px;
}

#postBox.ng-leave-active {
	opacity: 0;
	height: 0px;
}

#pictureBox.ng-enter{
	opacity: 0;
	height: 0px;
}

#post_div.ng-enter {
	transition: 1.5s;
	opacity: 0;
	height: 0px;
}

#post_div.ng-enter-active {
	opacity: 1;
	height: 100%;
}

#post_div.ng-leave {
	transition: 1.5s;
	opacity: 1;
	height: 100%;
}

#post_div.ng-leave-active {
	opacity: 0;
	height: 0px;
}

.row-border {
	border-style: solid;
	border-width: .2em;
	border-color: #1F2B50;
	border-radius: .5em;

	/* background-color: #94B8FF; */
	margin-top: .25em;
	margin-bottom: .25em;
}

#user-information-container {
	display: inline-block;
	text-align: center;
	margin: 0  auto;
}

.me-button-container {
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}