<link rel="stylesheet" type="text/css" href="me/me.css">

<div ng-controller="MeCtrl" class="container-fluid faces-container">
	<div id="name_div" class="row row-border">
		<div class="me-section-border">
			<h2 id="me-username-heading">{{user.FirstName}} {{user.LastName}}</h2>
		</div>
	</div>

	<div id="info_div" class="row row-border">		
		<img id="user_photo" class="col-xs-3 profile-picture-lg" ng-src="{{user.ProfilePicture}}">

		<div class="col-md-9">
			From: <button id="fromEdit" class="glyphicon glyphicon-pencil" title="Edit" ng-click="fromEditor()"/>
			<p ng-hide="fromEditOn">{{user.City}}, {{user.State}}</p> <input type="text" ng-model="user.City" 
				ng-hide="!fromEditOn" ng-disabled="!fromEditOn"/>
			Phone: <button id="phoneEdit" class="glyphicon glyphicon-pencil" title="Edit" ng-click="phoneEditor()"/>
			<p ng-hide="phoneEditOn">{{user.Phone}}</p> <input id="phoneTextBox" type="text" ng-model="user.Phone"
				ng-hide="!phoneEditOn" ng-disabled="!phoneEditOn"/>
			Birthday: <button id="birthdayEdit" class="glyphicon glyphicon-pencil" title="Edit" ng-click="birthdayEditor()"/>
			<p ng-hide="birthdayEditOn">{{user.DateOfBirth}}</p> <input ng-model="user.DateOfBirth" ng-hide="!birthdayEditOn" ng-disabled="!birthdayEditOn"/>
			About: <button id="aboutEdit" class="glyphicon glyphicon-pencil" title="Edit" ng-click="aboutEditor()"/>
			<p ng-hide="aboutEditOn">{{user.AboutMe}} </p> <textarea class="form-control" ng-model="user.AboutMe" type="text" rows="10" maxlength="140"
				ng-hide="!aboutEditOn" />
		</div>
		
		<button id="pictureEdit" ng-model="user.ProfilePicture" class="glyphicon glyphicon-pencil" title="Edit" ng-click="pictureEditor()"/>
	</div>	

	<div id="action_div" class="row row-border">
		<div class="me-button-container col-xs-6">
			<button class="btn btn-default faces-btn glyphicon glyphicon-align-left" title="New Post" ng-click="createNewPost()"></button>
		</div>
		<div class="me-button-container col-xs-6">
			<button class="btn btn-default faces-btn glyphicon glyphicon-picture" title="Post Photo" ng-click="postNewPicture()"></button>
		</div>
	</div>

	<div id="wall_div" class="me-section-border row row-border">
		<div ng-repeat="post in posts">
			{{post.Message}}
		</div>
	</div>

	<div id="friend_div" class="me-section-border row row-border">
		<div ng-repeat="friend in friends">
			
		</div>
	</div>
</div>

<!-- <div id="me-container">
	<div class="container">
		<div class="me-section-border row">
			<h2 id="me-username-heading">{{user.firstName}} {{user.lastName}}</h2>
		</div>
		<div class="me-section-border row">
			<img id="me-profile-picture" ng-src="{{user.profilePictureUrl}}">
			<div id="user-information-container">
				From:
				<p>{{user.city}}, {{user.state}}</p>
				Phone:
				<p>{{user.phone}}</p>
				Birthday:
				<p>{{user.dateOfBirth}}</p>
				About:
				<p>{{user.aboutMe}} </p>
			</div>
		</div>

		<div class="me-section-border row">
			<div class="me-button-container col-md-6">
				<button class="btn btn-default faces-btn glyphicon glyphicon-align-left" title="New Post"></button>
			</div>
			<div class="me-button-container col-md-6">
				<button class="btn btn-default faces-btn glyphicon glyphicon-picture" title="Post Photo"></button>
			</div>
		</div>

		<div ng-repeat="post in posts">
			<div class="me-section-border row">{{post.textContent}}</div>
		</div>
	</div>
</div> -->